services:
  web:
    image: nginx:alpine
    container_name: nginx-maintenance
    #restart: always
    volumes:
        - /srv/nginx-maintenance/default.conf:/etc/nginx/conf.d/default.conf:ro
        - /srv/nginx-maintenance/html:/usr/share/nginx/html:ro
    ports:
        - "7777:80"