html,
body {
  height: 100%;
}

body.container{
  background-color: #fff;
  width: 100% !important;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

@media only screen and (min-device-width: 640px){
  .row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 33%;
    width: 100%;
  }

  .col-md-6{
    flex: 0 0 auto;
    width: 50%;
    text-align: center;
  }

  .logo {
    max-width: 130px;
    float: right;
    margin-right: 2rem;
  }

  .logo img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  .icones img{
    max-width: 50px;
    margin: 2rem 20px 0;
  }
}

@media only screen and (max-device-width: 639px){
  .row{
    text-align: center;
    margin: auto;
  }

  .col-md-6{
    margin-top: 1rem;
  }

  .card-header{
    margin: 0 !important;
  }

  .logo {
    width: 200px;
  }
  
  .logo img {
    max-width: 100%;
    margin-top: 1rem;
  }

  .text {
    text-align: center !important;
  }

  .info{
    margin: 2rem !important;
  }

  .icones img{
    max-width: 60px;
    margin-top: 1.5rem;
  }

  .status{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #283661;
  margin: 0 10rem;
}

.card-header h3 {
  margin: 30px 0 10px;
  color: #283661;
  font-weight: bold;
  font-size: 28px;
}

.text {
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  color: #283661;
  font-weight: 500;
}

.info{
  font-size: 20px;
  color: #283661;
  margin-bottom: 3rem;
}

.status{
  font-size: 18px;
  color: #868786;
  margin-bottom: 2rem;
}